# Python/Django
__pycache__/
*.py[cod]
*$py.class

# Database
db.sqlite3

# Media files (User uploads)
media/

# Virtual Environment
venv/
env/

# Environment variables
.env

# MacOS
.DS_Store

# Django Static
staticfiles/

# Node / Frontend
node_modules/
frontend/dist/
